.user-badge {
  background-color: var(--color-grey-200);
  padding: 1rem 2rem;
  display: flex;
}

.user-badge__avatar {
  border: 2px solid var(--color-grey-500);
  overflow: hidden;
  align-self: center;
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: var(--color-white);
}

.user-badge__avatar::before {
  bottom: -3rem;
  left: 1rem;
  position: absolute;
  content: "";
  align-self: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: var(--color-purple);
}

.user-badge__avatar::after {
  bottom: 2.5rem;
  left: 2rem;
  position: absolute;
  content: "";
  align-self: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-brown-400);
}

.user-badge__info > label {
  display: block;
  background-color: var(--color-grey-200);

  margin: 1.5rem;
}

.user-badge__info > label > span{
  margin-left: 1rem;
}