.user-form {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.user-form > label {
  flex-basis: 40%;
  margin: 1rem 0;
}

.user-form > label > input {
  margin-top: 0.5rem;
  width: 100%;
  display: block;
}
