.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--color-grey-050);
}

.app__header {
  background-color: var(--color-blue-600);
  color: var(--color-grey-050);
  padding: 0.5rem;
}

.app__title {
  text-align: center;
  margin: 0;
}